<app-nav></app-nav>







<!--
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://th.bing.com/th/id/R.cd535f499ae47107303992e92c361c59?rik=vQSe87T%2f4xiPbQ&pid=ImgRaw&r=0"  alt=""/>

      <h4 class="name">Thima Sigauque</h4>
      <p class="designation">Software Engineer</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>DASHBOARD</span>
      </button>
    <button mat-button class="menu-button" routerLink="/categories">
      <mat-icon>home</mat-icon>
      <span>CATEGORIES</span>
    </button>
    <button mat-button class="menu-button" routerLink="/services">
      <mat-icon>home</mat-icon>
      <span>SERVICES</span>
    </button>
    <button mat-button class="menu-button" routerLink="/users">
      <mat-icon>home</mat-icon>
      <span>USERS</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>home</mat-icon>
      <span>PROFILE</span>
    </button>
    <button mat-button class="menu-button" routerLink="/queries">
      <mat-icon>home</mat-icon>
      <span>QUERIES</span>
    </button>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>LOGOUT</span>
      </button>

  </mat-sidenav>
  <mat-sidenav-content>
      <main class="content mat-elevation-z8">
          <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>
-->
